.todo {
    word-wrap: break-word;
}

h1 {
    margin-top: 0;
}

.delete-button {
    float: right;
}

#status {
    color: green;
}

.todo-done {
    text-decoration: line-through;
}

.login-button {
    margin-right: 1.2rem;
}

.error {
    position: absolute;
}

.login {
    margin-top: 110px;
}

.todo-list {
    margin-top: 2.5rem;
}

.todo-item {
    margin: auto;
}

.to-do-lists {
    margin-top: 3rem;
}

.delete-list-button {
    float: right;
}

.input-field {
    margin-top: 0;
}

.list-input {
    margin-bottom: 0;
    border-bottom: none;
}

.input-field .prefix.right {
    right: 0;
}
